.navbar{
  margin: 8px 16px 0px 16px;
  background-color: #222;
}
a {
  color:#26496f;
}
body{
  background-color: #666;
  color: black;
  font-family: 'Open Sans', sans-serif;
  margin: 48px 16px 16px 16px;
}

.modal-header {
background-color: #333;
color:#999
}
.modal-body {
  background-color: #444;
}
.card{
  background-color: #666;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #222;
  padding: 2%;
  margin: 2%;
}

.anchor {
  padding-top: 100px
}
.jumbotron{
    color: #fff;
  position:relative;
  padding-top:9%;
  background: linear-gradient(to right bottom, #000, #666);
  border-radius: 6px;
}
h1, h2, h3, .jumbotron{
  font-family: fantasy;
}
hr {
  padding-bottom: 16px;
}
q {
  text-transform: uppercase;
}

#about a{
  font-family: fantasy;
  font-size: 1.5em;
  padding: 2%;
  margin: 2%;
}

#certif{
  text-align: left;
  padding:5%;
}
#about{
  padding-top: 60px;
  text-align: center;
}

#me, table{
  font-size: 120%;
}

#portfolio{
    padding-top: 100px;
    text-align: center;
}

#portfolio img {
  display: block;
  width: 100%;
  height: auto;
}

.techLogo {
  background-color: #222222;
  border-radius: 80px;
  margin-top: 10px;
  
}
.techLogo img{
 width: 25% !important;
  margin: 30px;
}
.media {
  margin: 20px;
}
.media img{
  min-width: 100px;
}

#about .fa {
  font-size: 150%;
  vertical-align: middle;

}

#certif .fa {
  color:#FFD700;
  font-size: 200%;
  vertical-align: middle;
}

#about a{
  color:#000;
  float: left;
}

#passion a:hover,  #portfolio a:hover {
    color:#bf3636;
    text-decoration: underline;
}

.col-md-4, .col-lg-4 {
  padding: 0px;
}

.modal-sm img{
  width:100%;
}

.img_wrap {
  position: relative;
  margin-top: 5%;
}
.overlay {
  position: absolute;
  bottom: 95%;
  left: 2.5%;
  background-color: #000;
  overflow: hidden;
  width: 95%;
  height:0;
  transition: .5s ease;
}

.img_wrap:hover .overlay{
  display:block;
  bottom: 2.5%;
  left:2.5%;
  height: 95%;
  width: 95%;
  opacity:0.9;
}

.upcoming {
  position: absolute;
  bottom: 2.5%;
  left: 2.5%;
  background-color: #000;
  overflow: hidden;
  width: 95%;
  height:95%;
    opacity:0.7;
}

.text {
  white-space: nowrap;
  color: #fff;
  font-size: 90%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.img_wrap:hover + .description{
  visibility: visible;
}

.description{
  visibility: hidden;
  margin-top: 2%;
  padding: 5%;
  border-width:thick;
  border-color: #fff;
  border-style: solid;
  border-radius:10px;
  color:#ccc;
  background-color: #000;
text-align: center;
}


footer{
  font-family: fantasy;
  font-size: 0.9em;
}

/*social network icons*/

.icone {
  position: fixed;
    bottom: 10px;
    right:10px;
}

.icone .fa {

  padding: 10px;
  font-size: 2em;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
